/*///////////////////////////////*//*Global Styles*/
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container-full {
    /*width: 100%;*/
    max-width: none;
}

.parallax{
   /* background-image: url('../assets/masthead.jpg');*/
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

/*///////////////////////////////*//*Row Styles*/
.row-masthead {
    position: fixed; 
    z-index: -2;
}
.row-masthead .verticle-text {
    color: #ffffff;
    width: 300px;
    position: relative;
    left: -300px;
    top: 280px;
}
.row-full-image {
    /*background: url("../assets/fullimage.jpg");*/
    /*background-size: cover;*/
    background-position: center center;
    height: 700px;
}
.row-spacer {
    height: 120px;
}
.row-green {
    background: #C80000;
    padding: 60px 0px 80px 0px;
}
.row-buying {
    background: #f6f7fa;
    padding: 60px 0px 60px 0px;
}
.row-buying .active {
    background: #fff;
    padding: 60px;
    -moz-box-shadow: 0px 0px 20px #e9eaed;
    -webkit-box-shadow: 0px 0px 20px #e9eaed;
    box-shadow: 0px 0px 20px #e9eaed;
}
.row-buying .inactive {
    padding: 60px;
}
.row-footer {
    padding: 100px 0px 90px 0px;
    background: #192430;
    color: #fff;
}
.row-grid {
    padding: 100px 0px 100px 0px;
    overflow: hidden;
    width: 100%;
    /*overflow-x: scroll;*/
}
.row-grid .grid {
    min-height: 260px;
}
.row-grid .grid.col-md-4 {
    max-width: 380px;
}
.row-grid .grid.col-md-8 {
    max-width: 760px;
}

/*///////////////////////////////*//*Styling Elements*/
.logo {
    /*margin-top: 50px;
    padding: 0px;*/
   position: absolute; 
   top: 50px; 
   left: 50px

}
.c-white,.masthead-text h2 {
    /*padding-top: 2em;*/
    color: white !important;
}
.c-black{
    color: black !important;
}
.masthead-text a {
    font-weight: bold;
    color: #fff;
    font-size: 13px;
}

.white {
    color: #fff;
}



/*///////////////////////////////*//*Font Styles*/
h1 {
    font-size: 60px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 300;
}
h2 {
    font-size: 35px;
    color: #222626;
    margin-bottom: 30px;
    font-weight: 300;
}
h3 {
    font-size: 20px;
    color: #67676d;
    margin-bottom: 20px;
    font-weight: bold;
}
h4 {
    font-size: 14px;
    color: #b8b8b8;
    margin-bottom: 30px;
    line-height: 20px;
}

p {
    font-size: 14px;
    color: #959595;
    line-height: 24px;
    font-weight: 400;
}

div.verticle-text {
    color: #b8b8b8;
    font-weight: 600;
    font-size: 12px;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    position: relative;
    left: -200px;
    width: 100px;
    top: 55px;
    text-transform: uppercase;
}
.row-green h2,
.row-green h3,
.row-green p,
.row-green .verticle-text,
p.sub-text {
    color: #fff;
}
.row-buying h2 {
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.row-buying p {
    width: 300px;
}
span.badge {
    padding: 1px 7px 1px 7px;
    color: #fff;
    background: #ccc;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
span.purple {
    background: #bd8cbf;
}
.icon {
    margin-right: 10px;
}
.btn-green {
    padding: 10px 20px 10px 20px;
    background: #82ca9c;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin-right: 20px;
}
.btn-green:hover {
    color: #fff;
    text-decoration: none;
    background: #72bd8d;
}
.row-footer p,
.row-footer h3,
.grid a {
    color: #fff;
}
.row-footer ul {
    margin: 0px;
    padding: 0px;
}
.row-footer li {
    list-style: none;
    padding: 0px;
    font-size: 12px;
    margin-bottom: 5px;
}
.grid {
    padding:70px;
}
.grid h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 5px;
}
.grid p {
    font-size: 12px;
    color: #fff;
}
.pink {
    background: #F3989E;
}
.light-purple {
    background: #BC8DBE;
}
.purple {
    background: #61607C;
}
.green {
    background: #82ca9c;
}
.image01 {
    background: url("../assets/image01.jpg");
    background-position: center center;
    background-size: cover;
    opacity: 0.7;
    height: 254px;
    background-color: #091e28;
}
.image02 {
    background: url("../assets/image02.jpg");
    background-position: center center;
    background-size: cover;
    opacity: 0.7;
    height: 254px;
    background-color: #091e28;
}
input.email, textarea.mensaje {
    background: #F6F7FA;
    outline: none;
    padding: 20px 10px 20px 20px;
    width: 100%;
    color: grey;
    font-size: 12px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: none;
    float: left;
}

.label-text {
    font-size: 11px;
    color: #57697f;
    width: 70%;
    margin-top: 20px;
}
.submit {
    background: #82ca9c;
    width: 70px;
    outline: none;
    border: none;
    float: left;
    height: 58px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: -30px;
}
.submit:hover {
    background: #72bd8d;
}

.pt-md-5{
    padding-top: 5em;
}

.principal{
    width: 100%;
    height: 900px;
    overflow: hidden;
    margin-bottom: -50px;
}
.bg-white{
    background: white;
}

.iPhone {
    height: auto;
    position: relative;
    right: 70px;
    top: 110px;
}
.padding-200{
    padding: 220px 0;
}
.position-absolute{
    position: absolute;
}
.w-80{
    width: 80%;
}
.height-100{
    height: 100%;
}
.height-250{
    height: 250px;
}
.height-150{
    height: 150px;
}
.background-size{
    background-size: cover
}
.top{
    top: 70px;
}
.bold{
    font-weight: bold;
}
.normal{
    font-weight: 100;
}
.size-burbuja{
    font-size: 2rem;
}

.background-opacity{
    background-color: black; 
    opacity: .6;
}

.background-black{
    background-color: rgba(0,0,0,.8);
}

.background-white{
    background-color: rgba(255,255,255,.8);
}

.display-none{
    display: none;
}

.top-30{
    top: 25%;
}

/* CONTAINERS */

.four { 
    width: 100%; 

    height: auto !important;
}


.svg {
    padding-top: 30px;
    height: 150px !important;
}



/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* FORM */

.form .plan input{
    display: none;
}

.form label{
    position: relative;
    color: #fff;
    border: 2px solid #C80000 !important ;
    background-color: #fff;
    font-size: 26px;
    text-align: center;
    height: 150px;
    line-height: 150px;
    display: block;
    cursor: pointer;
    border: 3px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: black;
}
.form .plan input:checked + label > div > div > .svg path{
    fill: white !important;
}

.form .plan input:checked + label > div > div > div > p{
    color: black !important;
}

.form .plan input:checked + label{
    border: 3px solid #fff;
    background-color: #C80000;
    color: white;
  
}

.form .plan input:checked + label:after{
    content: "\2713";
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    border: 2px solid #fff;
    background-color: #C80000;
    z-index: 999;
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
}

.tel{
    font-size: 1.35em;
    font-weight: 700;
    color:#95948f;
    box-shadow: 0 10px 0 -5px rgba(0,0,0,0.1);
    border: none;
    background: transparent;
    padding: 1em;
}
input.tel:focus{
    border: 0px !important;
    outline: none;
    box-shadow: 0 10px 0 -5px rgba(200,0,0,0.5);
}

.position-main{
    position: fixed;
}
.position-fixed{
    position: fixed;
}
#tiendas{
    bottom: 30px; 
    left: 10px; 
    z-index: 9999
}

@media only screen and (max-width: 639px) {
    .position-main{
    position: absolute;
}
    .principal{
        height: 250px;
    }

    .logo {
        padding: 20px;
       top: 0px; 
       left: 0px
    }

    .padding-200{
        padding: 50px 10px;
    }

    .m-0{
        margin: 0px !important; 
    }
    .p-0{
        padding: 0px !important;
    }
    .pl-5{
        padding: 1em !important;
    }
    
    .size-burbuja{
        font-size: 2rem;
        margin-bottom: 0px;
    }

    .w-80{
        width: 80%;
    }

    .title-h1{
        font-size: 30px;
    }

    .title-h2{
        font-size: 20px;
    }
    .pb-5{
        padding-bottom: 1em !important;
    }
    .pt-5{
        padding-top: 1em !important;
    }
    .mb-5{
        margin-bottom: 1em !important;
    }
    .top{
        top: 70px;
    }
    .invisible-xs {
      /*visibility: hidden;*/
      display: none;
    }
    .pt-xs-0{
    padding-top: 0;
    }
    .pt-xs-1{
        padding-top: 1em !important;
    }
    .background-white{
        height: 200px;
    }
    .cs-skin-overlay .cs-options > ul {
    
        top: inherit !important;
        left:  inherit !important;
        width: inherit  !important;
        -webkit-transform: inherit !important;
        transform: inherit !important;
    }
    .tel{
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1em;
    }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
    .principal{
        height: 350px;
    }
    .iPhone {
        height: 250px;
        top: 40px;
    }
    .cs-skin-overlay .cs-options > ul {
    
    top: inherit !important;
    left:  inherit !important;
    width: inherit  !important;
    -webkit-transform: inherit !important;
    transform: inherit !important;
    }
    .size-burbuja{
        font-size: 1rem;
        margin-bottom: 0px;
    }
     .w-80{
        width: 70%;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .principal{
        height: 700px;
        margin-bottom: -100px;
    }

     .iPhone {
        height: 500px;
        right: 0px;
        top: 120px;
    }
   

}